body {
	background-color: #f8f9fa;
}

#add_new_post, #menu {
	margin-top: 20px;
}

.post {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

#add_new_post .form-group {
	margin-bottom: 0px;
}

.post-photo {
	max-width: 530px;
}

.post-title {
	word-wrap: break-word;
}

.white {
	background-color: white;
	margin-top: 20px;
	padding: 10px;
	padding-bottom: 20px;
}

.button-register {
	margin-top: 15px;
}

.post-class-info {
	float: right;
}