body {
	background-color: #f8f9fa;
}

#add_new_post, #menu {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	position: relative;
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

#add_new_post .form-group {
	margin-bottom: 0px;
}

.post-photo {
	max-width: 530px;
}

.post-title {
	word-wrap: break-word;
}

.white {
	background-color: white;
	margin-top: 20px;
	padding: 10px;
	padding-bottom: 20px;
}

.button-register {
	margin-top: 15px;
}


.post-class-info {
/*	position: relative;*/
	left: 100%;
	margin-left: 20px;
}

.post-class-info, .post-class-info p {
	margin: 0;
	padding: 0;
}

.post-class-add-info {
	position: relative;
	right: -50%;
}

.post-class-add-info, .post-class-add-info p {
	margin: 0;
	padding: 0;
}


#posts, #about {
	margin-top: 20px;
}

#id_tags {
	margin-top: 5px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.date {
	color: lightgray;
	font-size: 75%;
	margin: 0;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*
.float-right {
	float: right;
	clear: both;
	border: 10px solid transparent;
}

.float-left {
	float: left;
	clear: both;
	border: 10px solid transparent;
}*/
