{% extends 'main/base.html' %}

{% block title %}
	Znalezione posty
{% endblock %}

{% block header %}
	{% load profile %}
	{% load humanize %}
	
{% endblock %}

{% block content %}
	<div id="posts">
		{% for post in posts %}
			<div class="post">
				<h2> {{ post.title }} </h2>
				<a href="{% url 'user_view' post.user.username %}"><h4> {{ post.user.username }} </h4></a>
				<p> {{ post.content|truncatewords:20 }} </p>
				<h4> Opublikowany {{ post.publish_date|naturalday }} </h4>
<!--
				{% if post.publish_date != post.edit_date %}
					<h4> Ostatnio edytowany {{ post.edit_date }} </h4>
				{% endif %}
-->
			</div>
		{% endfor %}
	</div>
{% endblock %}