<!DOCTYPE html>
<html>
<head>
	<title>Strona główna</title>
	<meta charset="utf-8">
</head>
<body>
	<div id="navbar">
		<h2>Classbook</h2>
	</div>
	<h1> Najnowsze posty na naszej stronie </h1>
	<div id="posts">
		{% for post in posts %}
			<div class="post">
				<h2> {{ post.title }} </h2>
				<h4> {{ post.user.username }} </h4>
				<p> {{ post.content }} </p>
				<h4> Opublikowany {{ post.publish_date }} </h4>
<!--
				{% if post.publish_date != post.edit_date %}
					<h4> Ostatnio edytowany {{ post.edit_date }} </h4>
				{% endif %}
-->
				<p> Tagi: </p>
				{% for tag in post.tags.all %}
					<div class="tag">
						<p> {{ tag }} </p>
					</div>
				{% endfor %}
				{% for comment in post.comments.all %}
					<div class="comment">
						<h4> {{ comment.user.username }} </h4>
						<p> {{ comment.content }} </p>
						<h6> {{ comment.date }} </h6>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</body>
</html>