<!DOCTYPE html>
<html>
<head>
	<title>Strona główna</title>
	<meta charset="utf-8">
	{% load humanize %}
</head>
<body>
	<div id="navbar">
		<a href = "{% url 'index' %}"><h2>Classbook</h2></a>
		{% if user.is_authenticated %}
			<p> Witaj, {{ user.username }}! </p>
		{% endif %}
		<div id="menu">
			<ul>
				{% if not user.is_authenticated %}
					<li><a href="{% url 'login' %}">Zaloguj się</a></li>
					<li><a href="{% url 'signup' %}">Zarejestruj się</a></li>
				{% else %}
					<li><a href="{% url 'logout' %}">Wyloguj się</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<h1> Najnowsze posty na naszej stronie </h1>
	<div id="add_new_post">
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Dodaj</button>
		</form>
	</div>
	<div id="posts">
		{% for post in posts %}
			<div class="post">
				<h2> {{ post.title }} </h2>
				<a href="{% url 'user_view' post.user.username %}"><h4> {{ post.user.username }} </h4></a>
				<p> {{ post.content }} </p>
				<h4> Opublikowany {{ post.publish_date|naturalday }} </h4>
<!--
				{% if post.publish_date != post.edit_date %}
					<h4> Ostatnio edytowany {{ post.edit_date }} </h4>
				{% endif %}
-->
				<p> Tagi: </p>
				{% for tag in post.tags.all %}
					<div class="tag">
						<p> <a href="{% url 'tag_view' tag.name %}">{{ tag }}</a> </p>
					</div>
				{% endfor %}
				{% for comment in post.comments.all %}
					<div class="comment">
						<a href="{% url 'user_view' comment.user.username %}"><h4> {{ comment.user.username }} </h4></a>
						<p> {{ comment.content }} </p>
						<h6> {{ comment.date|naturalday }} </h6>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</body>
</html>