{% extends 'main/base.html' %}

{% block title %}
	Strona główna
{% endblock %}

{% block header %}
	{% load profile %}
	
{% endblock %}

{% block content %}
	<div id="add_new_post" class="white">
		{% if messages %}
			<div>
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<div>
			<h4>Utwórz post</h4>
			<div>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% for field in form %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
					<button type="button submit" class="btn btn-primary">Dodaj</button>
					
				</form>
				<div class="post-class-info">
					<p>Dodajesz post {% get_user_post_type user %}...</p>
				</div>
			</div>
		</div>
	</div>
		<div id="posts">
			{% for post in posts %}
				{% include 'main/post.html' %}
			{% endfor %}
	</div>
{% endblock %}
