{% load static %}
{% load profile %}
<link rel="stylesheet" type="text/css" href="{% static 'main/menu.css' %}">

<div id="menu-sidebar">
		<ul class="nav flex-column">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Strona główna</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Cośtam</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#">Disabled</a>
	  </li>
	</ul>
</div>

{% if user.is_authenticated %}
	<div class="profile-sidebar">
			<!-- SIDEBAR USERPIC -->
			<div class="profile-userpic">
				<img src="{% get_profile_avatar user %}" alt="avatar" />
			</div>
			<!-- END SIDEBAR USERPIC -->
			<!-- SIDEBAR USER TITLE -->
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">

					{{ user.username }}
				</div>
				<div class="profile-usertitle-job">
					{% get_profile_description user %}
				</div>
			</div>
			<!-- END SIDEBAR USER TITLE -->
			<!-- SIDEBAR BUTTONS -->
			<div class="profile-userbuttons">
				<button type="button" class="btn btn-success btn-sm">Follow</button>
				<button type="button" class="btn btn-danger btn-sm">Message</button>
			</div>
			<!-- END SIDEBAR BUTTONS -->
			<!-- SIDEBAR MENU -->
			<div class="profile-usermenu">
				<ul class="nav">
					<li>
						<a href="{% url 'edit_profile' %}">
						<i class="glyphicon glyphicon-home"></i>
						Edycja profilu </a>
					</li>
					<li>
						<a href="{% url 'edit_class' %}">
						<i class="glyphicon glyphicon-user"></i>
						Edycja klasy </a>
					</li>
				</ul>
			</div>
			<!-- END MENU -->
		</div>
	</div>
{% endif %}